*{
    margin:0;
}
#parent-div{
    height: 100vh;
    background-color: antiquewhite;
}

#content-div{
    display: flex;
    /* grid-template-columns: repeat(2,266px); */
    /* height: 25rem; */
    justify-content: center;
    padding: 8rem;
    margin: 0 auto;
}

#img-product{
    height: 20rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 10px; */
}

#con2{
    height: 20rem;
    background-color: white;
    /* border-radius: 10px; */
    /* margin-left: -7px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 205px;
}

#head1{
    color: rgb(146, 146, 146);
    font-family: Montserrat;
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

#head2{
    font-family: Fraunces;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 20px;
    margin-left: 20px;
}

#haed3{
    font-family: Montserrat;
    font-size: 10px;
    color: rgb(118, 118, 118);
    margin-bottom: 20px;
    margin-left: 20px;
    
}

#price-section{
    display: flex;
}

#price{
    font-family: Fraunces;
    font-weight: 700;
    color: rgb(69, 140, 69);
    font-size: larger;
    margin-left: 20px;
}

#price2{
    text-decoration: line-through;
    font-family: Montserrat;
    font-size: 10px;
    color: rgb(118, 118, 118);
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 15px;
}

#btn{
    color: white;
    background-color: rgb(5, 49, 5);
    border: none;
    padding: 10px 55px;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 13px;
}

#cart-icon{
    margin-right: 7px;
    height: 12px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }